:root {
  --accent: #dead1a;
  --bg: #636363;
}

body {
  font-family: 'Inter', sans-serif;
  color: white;
  overflow: hidden; 
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; 
}

.panel {
  min-height: 100vh; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  padding: 10vh 5%; 
  scroll-snap-align: start;
  box-sizing: border-box;
  position: relative;
}

.nav {
  position: absolute;
  top: 30px;
  right: 50px;
}

.nav button {
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
  padding: 8px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.nav button:hover {
  background: var(--accent);
  color: black;
}


.glow-text {
  font-size: 5rem;
  letter-spacing: 10px;
  text-shadow: 0 0 20px var(--accent);
  margin: 0;
}


.history-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.history-card {
  flex: 1;
  padding: 30px;
  min-width: 280px;
  background: #dcd79b;
  border-left: 4px solid #d12c84;
  transition: 0.4s;
}

.history-card.active {
  border-left-color: var(--accent);
  background: #b87e7e;
  transform: translateY(-10px);
}


.video-wrapper {
  width: 100%;
  max-width: 500px;
  border: 5px solid #333;
  display:flex;
  justify-content: center;
  margin-top: 20px;
  overflow: hidden;
}

video {
  width: 100%;
  display: block;
  max-height: 65vh;
}

.video-caption {
  padding: 15px;
  background: #dcdcdc;
  font-size: 0.9rem;
  color: #888;
}

.h2 {
  font-size: 3rem;
  letter-spacing: 10px;
  color:#121212;
  margin: 0;
}